.jumbotron{
    background-color: darkseagreen;
    margin-top: 10px;
    padding: 3.5rem 1rem
}

span.forma{
background-color: yellow;
padding: 0.3em;
}
span.forma:hover {font-weight: bold}

footer{
    padding: 10px 10px 0 10px;
    background-color:burlywood ;
    margin-bottom: 0;
    margin-top: 20px;
}

.descripcion-caso{
    flex: 1 350px;
    margin-top: 10px;
}

.btn-aprender{
    width: 100%;
    border-radius: 0px;
}

.footer-adress-icon{
    padding-right: 10px;
}

.table td {
   text-align: center;   
}

.table tr {
   text-align: center;   
}

.maths {
    width:100%;
}

.oi-circle-check{
    color:green;
}

.oi-circle-x{
    color:red;
}

.tab-content{
    padding-top: 10px;
    padding-bottom: 10px;
}

.btn-primary.inicio{
    margin-bottom: 10px;
    font-size: 150%;
}