$yellow:#e0f525;
$darkseagreen:#53c271;
$red:#eb3131;

@mixin margenes($top, $bottom) {
    margin-top: $top;
    margin-bottom: $bottom;
}

@mixin relleno($pTop, $pRight, $pBottom, $pLeft) {
    padding: $pTop $pRight $pBottom $pLeft;
}

.jumbotron {
    background-color: $darkseagreen;
    @include margenes(10px, 0);
    @include relleno(3.5rem, 1rem, 2rem, 0);
}

span.forma {
    background-color: $yellow;
    @include relleno(0.3em, 0, 0, 0);
}

span.forma:hover {
    font-weight: bold
}

footer {
    @include relleno(10px, 10px, 0, 10px);
    background-color: burlywood;
    @include margenes(20px, 0);
}

.descripcion-caso {
    flex: 1 350px;
    @include margenes(10px, 0);
}

.btn-aprender {
    width: 100%;
    border-radius: 0px
}

.footer-adress-icon {
    @include relleno(0, 10px, 0, 0);
}

.table td {
    text-align: center;
}

.table tr {
    text-align: center;
}

.maths {
    width: 100%;
}

.oi-circle-check {
    color: green;
}

.oi-circle-x {
    color: red;
}

.tab-content {
    @include relleno(10px, 0, 10px, 0);
}

.btn-primary.inicio {
    @include margenes(10px, 0);
    font-size: 150%;
    background-color: $yellow;
    color:black
}

img {
    @include relleno(10px, 10px, 10px, 10px)
}

nav {
    @include relleno(10px, 0, 0, 0)
}

.imgSmall {
    width: 40%;
    display:inline-block;
    margin-left: auto;
    margin-right: auto;
    @include relleno(0, 10px, 0, 10px)
}
.imgPrograma{
    width: 70%;
    @include relleno(0, 10px, 0, 10px)
}

.centradas{text-align: center;} 

.imgCabecera {
    width: 100%;
    height: 300px;
}

.popover-header{background: #ffff99; }  

.widget .panel-body { padding:0px; }
.widget .list-group { margin-bottom: 0; }
.widget .panel-title { display:inline }
.widget .label-info { float: right; }
.widget li.list-group-item {border-radius: 0;border: 0;border-top: 1px solid #ddd;}
.widget li.list-group-item:hover { background-color: rgba(86,61,124,.1); }
.widget .mic-info { color: #666666;font-size: 11px; }
.widget .action { margin-top:5px; }
.widget .comment-text { font-size: 12px; }
.widget .btn-block { border-top-left-radius:0px;border-top-right-radius:0px; }

.col-md-11 {
    padding-left: 50px;
}